.user-details-container {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px fuchsia;
}

.user-details-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-details-item {
  margin: 10px 0;
}

.user-details-label {
  font-weight: bold;
}

.user-details-value {
  margin-left: 10px;
}

.user-details-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.user-details-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 780px) {
  .user-details-container {
    width: 300px;
  }
}
